name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm
          registry-url: https://registry.npmjs.org
      - run: npm install -g corepack@latest && corepack enable
      - run: npm install
      - run: npm run publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: curl https://purge.jsdelivr.net/gh/uni-helper/uni-app-schemas-vscode/schemas/androidPrivacy.json && curl https://purge.jsdelivr.net/gh/uni-helper/uni-app-schemas-vscode/schemas/manifest.json && curl https://purge.jsdelivr.net/gh/uni-helper/uni-app-schemas-vscode/schemas/pages.json
